#Please customize to target system

[Unit]
Description=GotCha Web Service
After=multi-user.target

[Service]
Type=idle

WorkingDirectory=/home/leo/GIT/GotCha_Camera/Server_PC

#Two paths here, the one pointing to libraries, the other for executables (gunicorn)
Environment="PATH=/home/leo/VENV/lib/python3.11/site-packages:/home/leo/VENV/bin"


ExecStart=/home/leo/VENV/bin/python3 /home/leo/GIT/GotCha_Camera/Server_PC/launch.py
Restart=always
User=leo
Group=leo

[Install]
WantedBy=multi-user.target
