
{% include 'header.html' %}

   <h1 class="card">
        Direct Video
    </h1>
    <div class="row">
        {% for camera in cameras %}
        <div class="column card">
            <div class="stream-container">
                <div class="tag-label">{{ camera.name }}</div>
                <img class="stream" width="640" height="480" src="http://{{camera.ip_address}}:{{camera.port}}{{camera.path}}" alt="Connecting...">
                                
            </div>
        </div>
            {% endfor %}
        
    </div>
    

   
        
    <script>
        //OnLoad event
        document.addEventListener("DOMContentLoaded", (event) => {
        
            //Top menu item selection
            //Collects all elements from 'nav' class
            var nav = document.getElementsByClassName("nav");
            //Removes the 'active' class from all elements
            for (var i = 0; i < nav.length; i++) {
                nav[i].classList.remove("active");
            }
            //Adds the 'active' class to the current page
            var current = document.getElementsByClassName("nav")[1];
            current.classList.add("active");
            

    
    });
    </script>


{% include 'footer.html' %}