
{% include 'header.html' %}

   <h1 class="card">
        <img src="{{ url_for('static', filename='img/logo_mini.jpg') }}"  class="logo-mini">
        Raw Cameras
    </h1>
    <div class="row">
        {% for camera in cameras %}
        <div class="column card">
            <div class="stream-container">
                <div class="tag-label">{{ camera.name }}</div>
                <img class="stream" width="640" height="480" src="http://{{camera.ip_address}}:{{camera.port}}{{camera.path}}" alt="Connecting...">
                                
            </div>
        </div>
            {% endfor %}
        
    </div>
    
    <div class="row"><a href="#" class="buttonblue center topmargin" id="buttonBack">Back</a></div>
   
    <script>
        //OnLoad event
        document.addEventListener("DOMContentLoaded", (event) => {
        
            // Goes back to the previous page
            var buttonBack = document.getElementById("buttonBack");
            buttonBack.addEventListener("click", (event) => {
                window.history.back();
            });

    });
    </script>


{% include 'footer.html' %}