<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1800">
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mask_app.js') }}"></script>
    {% if loadP5 == 1 %}
        <script src="{{ url_for('static', filename='js/p5.js') }}"></script>
    {% endif %}
    <title>GotCha</title>
</head>

<body>

    <div class="topnav row" id="topnav">
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/cameras_fast">Direct Video</a>
        <a class="nav" href="/local_stream">Processed Video</a>
        <a class="nav" href="/list_recordings">Recordings</a>
        <a class="nav" href="/cam_setup">Camera Setup</a>
    </div>