<!DOCTYPE html>
<html lang="en">
<head>

    {# REMINDER #}
    {# Since this template is used to render all other pages, cookiedata has to be passed, even if not used #}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1800">
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/w2ui-2.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mask_app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/w2ui-2.0.min.js') }}"></script>

    {% if loadP5 == 1 %}
        <script src="{{ url_for('static', filename='js/p5.js') }}"></script>
    {% endif %}
    <title>GotCha</title>
</head>

<body>

    {# MENU SHOW/HIDE ITEMS DEPENDING ON LOGIN#}

    <div class="topnav row" id="topnav">

                        <a class="nav" href="/">Home</a>
                        <a class="nav" href="/cameras_fast">Direct Video</a>
                        <a class="nav" href="/local_stream">Processed Video</a>
                        <a class="nav" href="/list_recordings">Recordings</a>
    {% if cookiedata[0] == "admin" %}  <a class="nav" href="/sys_setup">System Setup</a>   {% endif %}
        
            {# LOGIN MENUITEM #}
            {% if cookiedata[0] == "Guest" %}
                <a class="login" href="#" onclick="loginPopup(event)">Login</a>
            {% else %}
                <a class="login" href="/logout">Logout {{ cookiedata[0] }} </a>
            
            {% endif %}
     </div>
        


    <!--<img src="{{ url_for('static', filename='img/logo_mini.jpg') }}"  class="logo-mini"> -->