<!DOCTYPE html>
<html>
<head>
  <title>GotCha!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<style>
  body {
    padding-top: 100px;
  }
</style>
<body>
  <div class="container">

    <div class="row">
      <div class="center col-6 card " style="margin:auto">
        <h1>GotCha!</h1>
        <p>Surveillance server</p>
        <a href="/cameras_fast" class="buttonblue mainbutton">Raw Video</a>
        <a href="/local_stream" class="buttonblue mainbutton">Processed Video</a>
        <a href="/list_recordings" class="buttonblue mainbutton">List Recordings</a>
      </div>
    </div>  

</div>
  
</body>
</html>

