<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1800">
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>Processed Streams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <title>Recordings</title>
</head>
<body>
    <h1 class="card">Recordings list
        <img src="{{ url_for('static', filename='img/logo_mini.jpg') }}"  class="logo-mini">
    </h1>

    <ul class="card">
        {% for duple in filesdata %}
            
            <a href="{{ url_for('download_file', filename=duple[0]) }}"><img src="{{ url_for('download_file', filename=duple[1]) }}" alt="image" width="160" height="120"></a>
            
        {% endfor %}
    </ul>
</body>
</html>
