{% include 'header.html' %}


    <h1 class="card">Recordings list
        <img src="{{ url_for('static', filename='img/logo_mini.jpg') }}"  class="logo-mini">
    </h1>

    <ul class="card">
        {% for duple in filesdata %}
            
            <a href="{{ url_for('download_file', filename=duple[0]) }}"><img src="{{ url_for('download_file', filename=duple[1]) }}" alt="image" width="160" height="120"></a>
            
        {% endfor %}
    </ul>



    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
           
            //Top menu item selection
            //Collects all elements from 'nav' class
            var nav = document.getElementsByClassName("nav");
            //Removes the 'active' class from all elements
            for (var i = 0; i < nav.length; i++) {
                nav[i].classList.remove("active");
            }
            //Adds the 'active' class to the current page
            var current = document.getElementsByClassName("nav")[3];
            current.classList.add("active");
            
        });
    </script>
    
{% include 'footer.html' %}
