{% include 'header.html' %}


    <h1 class="card">       
        Processed Streams
    </h1>
    
    <div class="row">
        {% for camera in cameras %}
            <div class="col card" id="video_{{ camera.name }}">
                <div class = "row">

                    <div class="">
                        <div class="stream-container">
                            <div class="col">
                                <div class="tag-label">{{ camera.name }}</div>
                                <img class="stream" width="320" height="240" src="http://{{server_ip}}:{{camera.mirrorport}}{{camera.path}}?r={{random_value}}" alt="Connecting...">
                            </div> 
                        </div>
                    </div>
        
                    <div class="" id="data" style="margin-top:5px">
                        
                        <div class="">
                            <a href="#" id="record_{{camera.name}}" class="button" onclick="setRecord(event,'{{camera.name}}','{{server_ip}}','{{camera.mirrorport}}')">Record</a>
                        </div>
                        {% if camera.isTriggerable== 1 %}
                        <div class="">
                            <a href="#" id="alert_{{camera.name}}" class="button" onclick="setAlarm(event,'{{camera.name}}','{{server_ip}}','{{camera.mirrorport}}', 300)">Alarm</a>
                        </div>
                        {% endif %}
                        <div class="">
                            <a href="#" id="restart_{{camera.name}}" class="button" onclick="sendRestart(event,'{{camera.name}}','{{server_ip}}','{{camera.mirrorport}}')">Restart</a>
                        </div>
                        {% if cookiedata[0] == "admin" %}
                        <div class="">
                            <a href="#" class="button" onclick="popupWindow(event,'/mask_app/{{ camera.name }}',680,335,'Mask Creation')">Mask</a>
                        </div>
                        <div class="">
                            <a href="#" class="button" onclick="popupWindow(event,'/camera_config/{{camera.name}}',710,335, 'Camera Fine Tuning')">Config</a>
                        </div>
                        {% endif %}
                    </div>
                </div>

                
                    
            </div>
        {% endfor %}
        
    </div>



    <!-- Floating window (future use)-->
    <div class="draggable card" id="floating" style="display:none">
        <div id="floatingheader" class="card-header">
            <div class="row">

                   Drag
              
            </div>
        </div>    
        <div id='floatingcontent'></div>
    </div>



    <script>
        document.addEventListener('DOMContentLoaded', function() {
           
            //Top menu item selection
            //Collects all elements from 'nav' class
            var nav = document.getElementsByClassName("nav");
            //Removes the 'active' class from all elements
            for (var i = 0; i < nav.length; i++) {
                nav[i].classList.remove("active");
            }
            //Adds the 'active' class to the current page
            var current = document.getElementsByClassName("nav")[2];
            current.classList.add("active");
            



        });


        //Controls the alert buttons
        function setAlarm(event,cameraName,cameraip, cameraport,seconds){
            //Set alert button to red and send alert to camera
            //If alert button is red, set it to green and send clear to camera

            event.preventDefault(); //prevent from scrolling to top of page

            var button = document.getElementById("alert_"+cameraName);
            if (button.innerHTML == "Alarm"){
                button.innerHTML = "Clear";
                changeToRed(button);
                fetch("http://" + cameraip + ":" + cameraport + "/alarm/" + seconds)
                
                
            }
            else{
                button.innerHTML = "Alarm";
                changeToNormal(button);
                fetch("http://" + cameraip + ":" + cameraport + "/clear")
                
            }
        }

      
        //Controls the alert buttons
        function setRecord(event,cameraName,cameraip, cameraport){
            //Set record button to red and send start recording to camera
            //If record button is red, set it to green and send stop recording to camera

            event.preventDefault(); //prevent from scrolling to top of page

            var button = document.getElementById("record_"+cameraName);
            if (button.innerHTML == "Record"){
                button.innerHTML = "Stop";
                changeToRed(button);
                fetch("http://" + cameraip + ":" + cameraport + "/startrecording")
            }
            else{
                button.innerHTML = "Record";
                changeToNormal(button);
                fetch("http://" + cameraip + ":" + cameraport + "/stoprecording")
            }
        }

        //Used in local_stream.html
        //Controls the alert buttons
        function sendRestart(event, cameraName,cameraip, cameraport){
            //Set record button to red and send start recording to camera
            //When return is completed, set record button to normal

            event.preventDefault(); //prevent from scrolling to top of page
            
            var button = document.getElementById("restart_"+cameraName);
            changeToRed(button);
            fetch("http://" + cameraip + ":" + cameraport + "/restart")
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    changeToNormal(button);
                });
        
        }

        //Applies red color to button
        function changeToRed(button){
            button.classList.add("buttonred");
        }

        //Removes red color from button
        function changeToNormal(button){
            button.classList.remove("buttonred");
        }



        
        
    </script>


{% include 'footer.html' %}