
<!DOCTYPE html>
<html lang="en">

<!--This page is used to display the local stream of the cameras passing through 'web_cam.py'-->
<!--The page is refreshed every 30 minutes to avoid the stream to stop-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1800">
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>Processed Streams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
</head>
<body>
    <h1 class="card">
        <img src="{{ url_for('static', filename='img/logo_mini.jpg') }}"  class="logo-mini">
        Processed Streams
    </h1>
    
    <div class="row">
        {% for camera in cameras %}
            <div class="column card" id="video">
                <div class = "row">

                    <div class="column">
                        <div class="stream-container">
                            <div class="column">
                                <div class="tag-label">{{ camera.name }}</div>
                                <img class="stream" width="320" height="240" src="http://{{server_ip}}:{{camera.mirrorport}}{{camera.path}}?r={{random_value}}" alt="Connecting...">
                            </div> 
                        </div>
                    </div>
        
                    <div class="column" id="data" style="margin-top:5px">
                        <div class="row">
                            <a href="#" class="buttonblue" onclick="popupWindow('/mask_app/{{ camera.name }}',680,400)">Mask</a>
                        </div>
                        <div class="row">
                            <a href="#" id="record_{{camera.name}}" class="buttonblue" onclick="setRecord('{{camera.name}}','{{server_ip}}','{{camera.mirrorport}}')">Record</a>
                        </div>
                        {% if camera.isTriggerable== 1 %}
                        <div class="row">
                            <a href="#" id="alert_{{camera.name}}" class="buttonblue" onclick="setAlert('{{camera.name}}','{{camera.ip_address}}','{{camera.port}}')">Alert</a>
                        </div>
                        {% endif %}
                        <div class="row">
                            <a href="#" class="buttonblue" onclick="popupWindow('/camera_config/{{camera.name}}',670,370)">Camera Config</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>

    <a href="/" class="topmargin buttonblue center ">Back</a>
    

    <!-- Floating window (future use)-->
    <div class="draggable card" id="floating" style="display:none">
        <div id="floatingheader" class="card-header">
            <div class="row">

                   Drag
              
            </div>
        </div>    
        <div id='floatingcontent'></div>
    </div>



    <script>
        document.addEventListener('DOMContentLoaded', function() {
            
        });

        //Part of the floating window (future use)
        //dragElement(document.getElementById("floating"));
        //var xx = document.getElementById("floatingheader");
        //doGet("camera_config_inc/Pi2","",xx);
        
    </script>


</body>


</html>
