<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Masking Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/p5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mask_app.js') }}"></script>
    
</head>
<body>
  
    
    <div id="imageContainer" class="card">
        <div class="row">
            <div class="col">
                <div id="canvasHolder" class="stream-container"></div>  
            </div>
            <div class="col-2"> 
                <div class="row">
                    <!--<input type="file" id="fileInput" accept=".jpg">-->
                    <a href="#" class = 'buttongreen' id="loadFromCamera">Load</a>
                        <input type='hidden' id="cameraName" value = "{{ camera[0].name }}">
                        <input type="hidden" id="snapShotURL" value = ":{{camera[0].mirrorport}}/snapshot">
                    <a href="#" class = 'buttongreen' id="invertColor">Invert</a>
                    <!--!--<a href="#" class = 'buttongreen' id="saveLocalButton">Save Mask Locally</a>-->
                    <a href="#" class = 'buttongreen' id="uploadButton">Apply</a>
                </div>
            </div>
        </div>  
    </div>
    <div class="row"><a href="#" class="buttongreen center topmargin" id="buttonBack">Close</a></div>
    <script>
        //OnLoad event
        document.addEventListener('DOMContentLoaded', function() {
            console.log("OnLoad event")
            // Get the camera name and snapshot url from the server, simpler here
            var hostname = window.location.hostname;
            var snapshoturl = document.getElementById("snapShotURL");
            snapshoturl.value = "http://"+ hostname + snapshoturl.value;

            // Goes back to the previous page
            var buttonBack = document.getElementById("buttonBack");
            buttonBack.addEventListener("click", (event) => {
                window.close();
            });

            loadFromCamera(); // Load the image from the camera

    });
    </script>
</body>
</html>