<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Masking Application</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <script src="{{ url_for('static', filename='js/mask_app.js') }}"></script>
    <style>

    </style>
</head>
<body>
    <h1>Image Masking Application</h1>
    <input type="file" id="fileInput" accept=".jpg">
    <canvas id="canvas"></canvas>
    
    <button class = 'button' id="loadFromCamera">Load from Camera</button>
        <input type='hidden' id="cameraName" value = "{{ camera[0].name }}">
        <input type="hidden" id="snapShotURL" value = ":{{camera[0].mirrorport}}/snapshot">
    <button class = 'button' id="invertColor">Invert</button>
    <button class = 'button' id="saveLocalButton">Save Mask Locally</button>
    <button class = 'button' id="uploadButton">Upload Mask to Server</button>


    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
        
            var hostname = window.location.hostname;
            var snapshoturl = document.getElementById("snapShotURL");
            snapshoturl.value = "http://"+ hostname + snapshoturl.value;

    });
    </script>
</body>
</html>