{#

    This is the page for the mask application.
    It is used to create a mask for the motion detection algorithm by loading a camera screenshot and a P5 application on top of it.
    The mask is created by painting the areas that are to be excluded from the motion detection.
    The mask is then applied to the camera and the camera is restarted to apply the changes.
    Mask inages are uploaded to /masks folder.

    
    
#}


{% include 'header.html' %}

    
    <div id="imageContainer" class="card">
        <div class="row">
            <div class="col">
                <div id="canvasHolder" class="stream-container"></div>  
            </div>
            <div class="col-2"> 
                <div class="row">
                    <!--<input type="file" id="fileInput" accept=".jpg">-->
                    <a href="#" class = 'button' id="loadFromCamera">Reset</a>
                        <input type='hidden' id="cameraName" value = "{{ camera[0].name }}">
                        <input type="hidden" id="snapShotRoute" value = ":{{camera[0].mirrorport}}/snapshot">
                        <input type="hidden" id="snapShotURL" value = "">
                    <a href="#" class = 'button' id="invertColor">Invert</a>
                    <!--!--<a href="#" class = 'button' id="saveLocalButton">Save Mask Locally</a>-->
                    <a href="#" class = 'button' id="uploadButton">Apply</a>
                </div>
            </div>
            <div class="col-3" style="font-size: 10px; text-align: left;">
                <ul>
                    <li>Make sure to paint those areas that are to be excluded from motion detection.</li>
                    <li>To reset the mask, click on the "Reset" button.</li>
                    <li>To invert the mask, click on the "Invert" button. The mask will be inverted and the excluded areas will be included in the motion detection.</li>
                    <li>To apply the mask, click on the "Apply" button. The mask will be automatically applied to the camera.</li>
                </ul>
            </div>
        </div>  
    </div>
   
    <script>
        //OnLoad event
        window.addEventListener('load',(event) => {
            
            //Make topnav invisible
            var nav = document.getElementById("topnav");
            nav.style.display = "none";

        });
    </script>


{% include 'footer.html' %}