body {
    
    font-family: Arial, sans-serif;
    background-color: #d1d1d1;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

 
/*Text in floating windows*/  
.smalltext{
  text-align: left;
  padding-left: 5px;
  font-size: 10px;
}

/*Text in camera setup page*/
.regulartext{
  text-align: left;
  padding-left: 5px;
  font-size: 12px;
}

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e8e8ee;
    color: #676767;
    text-decoration: none;
    font-size: 12px;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
    width: 60px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #676767;
    box-sizing: content-box; /* To override w3 boxing */
  }

  .button:hover {
    background-color: #ddd;
    color:black
  }

  .buttongreen {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
    width: 60px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
  }

  .buttongreen:hover {
    background-color: #3e8e41;
  }

  .buttonred {
   
    background-color: #c92b33;
    color: white;
    
  }

  .buttonred:hover {
    background-color: #8e3e3e;
  }

  .buttonblue {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3b6bdb;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
    width: 60px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
  }

  .buttonblue:hover {
    background-color: #083280;
  }

 /* Will center any element with the class "center" */
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin:auto;
  }

  .topmargin {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mainbutton{
    width:85px;
  }

/*Will show a card with the class "card" */
  .card {
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    margin: 10 10 10 10;
    /*text-align: center;*/
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #676767;
    
  }

  .card-header{
    background-color: #ff9102cf;
    color: #000000;
    height: 20px;

    cursor:move;
  }
  
   /* Contenedor principal */
   .stream-container {
    position: relative;
    margin: 5px;
    width: 320px; 
    height: 240px; 
    background-color: #858585; 
    border: 2px solid #ff9102cf; 
    border-radius: 8px; /* Rounded borders */
    overflow: hidden; /* Cover if overflow */
   
  }

  /* Tag */
  .tag-label {
    position: absolute;
    top: 0;
    /*left: 50%;*/
    /*transform: translateX(-50%); /* Move 50% of the width to the right */
    background-color: #ff9102cf; /* Tab color */
    color: #000000; /* Text color */
    padding: 5px 10px; /* Adjust */
    border-bottom-left-radius: 0px; /* Rounded border */
    border-bottom-right-radius: 3px; /* Rouded border */
  }

  /* Stream inside */
  .stream {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("/static/img/no_signal.gif");
  }


  /* Container para el sistema de 12 columnas */
  .container {
    max-width: 1200px; /* Ancho máximo del container */
    margin: 0 auto; /* Centra el container en la página */
    overflow: hidden; /* Evita que los elementos floten fuera del container */
  }

  /* 12 column */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0px; /* Ajuste para los márgenes negativos */
  }

  .col {
    box-sizing: border-box;
    /*padding: 0 15px;  Espacio entre las columnas */
  }

  /* Ejemplo de clases para columnas */
  .col-1 { flex: 0 0 8.33%; max-width: 8.33%; }
  .col-2 { flex: 0 0 16.66%; max-width: 16.66%; }
  .col-3 { flex: 0 0 25%; max-width: 25%; }
  .col-4 { flex: 0 0 33.33%; max-width: 33.33%; }
  .col-6 { flex: 0 0 50%; max-width: 50%; }
  .col-12 { flex: 0 0 100%; max-width: 100%; }

  .logo {
    max-width: 100%;
  }



  .label {
    display: inline-block;
    width: 100%;
    text-align: right;
  }

  /*https://www.w3schools.com/howto/howto_js_draggable.asp*/
  .draggable{
    position: absolute;
    margin:0px;

  }

/*Used in camera_config.html save confirmation text*/
  .saveconfirm{
    position: absolute;
    left: 48%;
    top: 315px;
    font-size: small;
    color: red
  }


  /*Top menu*/
  /* from: https://www.w3schools.com/howto/howto_js_topnav.asp */
  .topnav {
    overflow: hidden;
    background-color: #333;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 6px;
    margin: 4px
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #e8e8ee;
    color: black;
  }

  .login
  {
    /*position: fixed;*/
    right:4px;
    
  }



  .badge {
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
  }


  /* Estilo para la tabla */
.table_stripped {
  border-collapse: collapse; /* Combina los bordes de las celdas */
  
  width: 90%; /* Ancho total de la tabla */
  font-size: smaller;
  overflow-x: auto;

}

/* Estilo para todas las celdas */
.th_stripped {
  border: 1px solid #000; /* Borde de 1px sólido negro */
  padding: 8px; /* Espaciado interno de las celdas */
  text-align: center; /* Alineación del texto a la izquierda */
  background-color: #ddd;
  border-color: #d1d1d1;
}

.td_stripped {
  border: 1px solid #000; /* Borde de 1px sólido negro */
  padding: 8px; /* Espaciado interno de las celdas */
  text-align: left; /* Alineación del texto a la izquierda */
  border-color: #d1d1d1;
}

/* Estilo para las filas pares */
.tr_stripped:nth-child(even) {
  background-color: #f2f2f2; /* Color de fondo para filas pares */
}

/* Estilo para las filas impares */
.tr_stripped:nth-child(odd) {
  background-color: #fff; /* Color de fondo para filas impares */
}

.input_textbox{
  margin: 2px;
}

.img_thrashcan{
  position: relative;
  bottom: -114px;
  right: 25px;
  margin:-12px;
  cursor:pointer;
  background-image: url("/static/img/trash_gray.png");
}

/*thrash can hover*/
.img_thrashcan:hover{
  background-image: url("/static/img/trash_orange.png");
}

td{
  font-size: smaller;
}

